<!-- <u1>
<div>
  <div ng-repeat="art in artistas" class="col col-sm-4"> 
  <div class="artistaimg">
    <img src="{{art[2]}}" width="150" height="150">
  </div>
  <div class="artistacarac">
    <p><strong>Nome do Artista:</strong></p>
    <p>{{art[0]}}</p>
    <div ng-repeat="albs in art[1]">
    <p><strong>Nome do Album:</strong></p>
    <p>{{albs[0]}} - {{albs[1]}}</p>
    <p><strong>Musicas:</strong></p>
    <div ng-repeat="musis in albs[2]">
    <p>{{musis[0]}}  - {{musis[1]}}</p>
    </div>
  </div>
  </div>
</u1> -->
<div>
  <form class="form principal">
  <div class="form-group">
      <label for="informações">Insira abaixo as informações da musica que deseja</label>
    </div>
  </form>
<div class="coluna1" style="padding-left: 170px">
  <form class="form-inline linha">
      <div class="form-group">
        <label for="nome da Musica">Nome da Musica:</label>
        <input type="text" class="form-control" ng-model="musica.nome" id="text" placeholder="Digite o nome da Musica">
      </div>
  </form>

  <form class="form-inline linha">
      <div class="form-group">
        <BR></BR>
        <label for="nome do Artista">Nome do Artista:</label>
        <input type="text" class="form-control" ng-model="musica.artista" id="text" placeholder="Digite o nome do Artista">
      </div>
  </form>

  <form class="form-inline linha">
      <div class="form-group">
        <BR></BR>
        <label for="nome do album">Nome do Album:</label>
        <input type="text" class="form-control" ng-model="musica.album" id="text" placeholder="Digite o nome do Album">
      </div>
  </form>

  <form class="form-inline linha">
      <div class="form-group">
        <BR></BR>
        <label for="ano de lançamento">Ano de Lançamento:</label>
        <input type="text" class="form-control" ng-model="musica.lancamento" id="text" placeholder="Digite o ano de Lançamento">
      </div>
  </form>

  <form class="form-inline linha">
      <div class="form-group">
        <BR></BR>
        <label for="duração">Duração da Musica:</label>
        <input type="text" class="form-control" ng-model="musica.duracao" id="text" placeholder="Digite a duração da Musica">
      </div>
      <P></P>
      <button type="enviar" class="btn btn-default" ng-click="addMusica(musica)" ng-disabled="!musica.nome || !musica.artista || !musica.album || !musica.lancamento || !musica.duracao">Enviar</button>
  </form>
</div>

<form class="form linha">
    <div class="coluna2" style="padding-right: 170px">
      <div class="form-group">
          <h2>Playlists:</h2>
          <p ng-repeat="playlist in playlists"></p>
          <button type="enviar" ng-click="criaPlayList(playlist)" data-toggle="modal" data-target="#product_view4" class="btn">Adicionar Playlist</button>
      </div>
    </div>
</form>
<!-- Modal Criar Playlists
-->
<div class="modal fade product_view" id="product_view4">
      <div class="modal-dialog">
          <div class="modal-content colorModal">
              <div class="modal-body">
                <div ng-show="criaPlayList">
                    <h3 style="text-align: center">Criar Playlist</h3>
                        <table class="table table-stried">
                          <tr>
                            <th>
                              <label for="playlist">Nome:</label>
                              <input type="text" class="form-control" ng-model="playlist.nome" id="text" placeholder="Digite o nome da nova playlist">
                            </th>
                          </tr>
                          <tr ng-repeat="playlist in playlists">
                            <td><button class="btn" type="enviar" ng-click="criaPlayList(playlist)">Add</button></td>
                          </tr> 
                        </table>
                </div>
              </div>
            </div>   
      </div>
  </div>