<!-- <u1>
<div>
  <div ng-repeat="art in artistas" class="col col-sm-4"> 
  <div class="artistaimg">
    <img src="{{art[2]}}" width="150" height="150">
  </div>
  <div class="artistacarac">
    <p><strong>Nome do Artista:</strong></p>
    <p>{{art[0]}}</p>
    <div ng-repeat="albs in art[1]">
    <p><strong>Nome do Album:</strong></p>
    <p>{{albs[0]}} - {{albs[1]}}</p>
    <p><strong>Musicas:</strong></p>
    <div ng-repeat="musis in albs[2]">
    <p>{{musis[0]}}  - {{musis[1]}}</p>
    </div>
  </div>
  </div>
</u1> -->

</div>
<form class="form principal">
  <div class="form-group">
    <label for="informações">Insira abaixo as informações da musica que deseja</label>
  </div>
</form>

<form class="form-inline linha">
  <div class="form-group">
    <label for="nome da Musica">Nome da Musica:</label>
    <input type="text" class="form-control" ng-model="musica" id="text" placeholder="Digite o nome da Musica">
  </div>
</form>

<form class="form-inline linha">
   <div class="form-group">
    <BR></BR>
    <label for="nome do Artista">Nome do Artista:</label>
    <input type="text" class="form-control" ng-model="artista" id="text" placeholder="Digite o nome do Artista">
  </div>
</form>

<form class="form-inline linha">
  <div class="form-group">
    <BR></BR>
    <label for="nome do album">Nome do Album:</label>
    <input type="text" class="form-control" ng-model="album" id="text" placeholder="Digite o nome do Album">
  </div>
</form>

<form class="form-inline linha">
  <div class="form-group">
    <BR></BR>
    <label for="ano de lançamento">Ano de Lançamento:</label>
    <input type="text" class="form-control" ng-model="lancamento" id="text" placeholder="Digite o ano de Lançamento">
  </div>
</form>

<form class="form-inline linha"> 
  <div class="form-group">
    <BR></BR>
   <label for="duração">Duração da Musica:</label>
    <input type="text" class="form-control" ng-model="duracao" id="text" placeholder="Digite a duração da Musica">
  </div>
</form>

<form class="form-inline linha">
  <div class="form-group">
    <BR></BR>
    <label for="Link da Imagem do Artista">Link da Imagem do Artista:</label>
    <input type="text" class="form-control" ng-model="img" id="text" placeholder="Insira o link da imagem">
  </div>
  <P></P>
  <button type="enviar" class="btn btn-default" ng-click="addMusica(musica)" ng-disabled="!musica.nome || !musica.artista || !musica.album || !musica.ano || !musica.duracao">Enviar</button> <button type="reset" class="btn-xs btn-default">Limpar</button>
</form>
