<!-- <u1>
<div>
  <div ng-repeat="art in artistas" class="col col-sm-4"> 
  <div class="artistaimg">
    <img src="{{art[2]}}" width="150" height="150">
  </div>
  <div class="artistacarac">
    <p><strong>Nome do Artista:</strong></p>
    <p>{{art[0]}}</p>
    <div ng-repeat="albs in art[1]">
    <p><strong>Nome do Album:</strong></p>
    <p>{{albs[0]}} - {{albs[1]}}</p>
    <p><strong>Musicas:</strong></p>
    <div ng-repeat="musis in albs[2]">
    <p>{{musis[0]}}  - {{musis[1]}}</p>
    </div>
  </div>
  </div>
</u1> -->
<div>
  <form class="form principal">
  <div class="form-group">
      <label for="informações">Insira abaixo as informações da musica que deseja</label>
    </div>
  </form>
<div class="coluna1" style="padding-left: 170px">
  <form class="form-inline linha">
      <div class="form-group">
        <label for="nome da Musica">Nome da Musica:</label>
        <input type="text" class="form-control" ng-model="musica.nome" id="text" placeholder="Digite o nome da Musica">
      </div>
  </form>

  <form class="form-inline linha">
      <div class="form-group">
        <BR></BR>
        <label for="nome do Artista">Nome do Artista:</label>
        <input type="text" class="form-control" ng-model="musica.artista" id="text" placeholder="Digite o nome do Artista">
      </div>
  </form>

  <form class="form-inline linha">
      <div class="form-group">
        <BR></BR>
        <label for="nome do album">Nome do Album:</label>
        <input type="text" class="form-control" ng-model="musica.album" id="text" placeholder="Digite o nome do Album">
      </div>
  </form>

  <form class="form-inline linha">
      <div class="form-group">
        <BR></BR>
        <label for="ano de lançamento">Ano de Lançamento:</label>
        <input type="text" class="form-control" ng-model="musica.lancamento" id="text" placeholder="Digite o ano de Lançamento">
      </div>
  </form>

  <form class="form-inline linha">
      <div class="form-group">
        <BR></BR>
        <label for="duração">Duração da Musica:</label>
        <input type="text" class="form-control" ng-model="musica.duracao" id="text" placeholder="Digite a duração da Musica">
      </div>
      <P></P>
      <button type="enviar" class="btn btn-default" ng-click="addMusica(musica)" ng-disabled="!musica.nome || !musica.artista || !musica.album || !musica.lancamento || !musica.duracao">Enviar</button>
  </form>
</div>

<form class="form linha">
    <div class="coluna2" style="padding-right: 170px">
      <div class="form-group">
          <h2>Criar PlayLists:</h2>
          <p ng-repeat="playlist in playlists"></p>
          <button type="enviar" ng-click="" data-toggle="modal" data-target="#product_view4" class="btn">Criar</button>
      </div>
    </div>

    <div class="coluna2" style="padding-right: 170px">
      <div class="form-group">
          <h2>PlayLists Salvas:</h2>
          <p ng-repeat="playList in playLists">
          <button class="btn" data-toggle="modal" data-target="#product_view5" ng-click="">{{playList.nome}}</button>
        </p>
      </div>
    </div>
</form>


<!-- Modal Criar Playlists
-->
<div class="modal fade product_view" id="product_view4">
      <div class="modal-dialog">
          <div class="modal-content colorModal">
              <div class="modal-body">
                  <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Adicionar PlayList</h3>
            </div>
         
               <form class="form">
                <table class="table table-stried">
      
                     <div class="form-group">
                          <td><input style="width: 300px" type="nome" class="form-control" id="text" placeholder="Digite o nome da playList" ng-model="playList.nome"></td>
                          <td><button type="submit" class="btn btn-default" ng-click="criaPlaylist(playList)">Add PlayList</button></td>
                  </table>
                </div>
              </div>
            </div>
          </form>
    </div>
  </div>
</div>

<!-- Modal Adicionar musicas a Playlist
-->

<div class="modal fade product_view" id="product_view5">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Adicionar música</h3>
            </div>
              <table class="table table-stried">
      
                     <div class="form-group">
                          <td><input style="width: 300px" type="text" class="form-control" id="text" placeholder="Digite nome da música" ng-model="musicaPlay.nome"></td>
                          <td><button type="submit" class="btn btn-default botao-addmusica" ng-click="addMusicaAPLay(list,musicaPlay)" ng-disabled="!playList" data-dismiss="modal" data-target="#">Adicionar</button></td>
              </table>
                </div>
        </div>
    </div>
</div>   