<div class="pesquisa">
  <form class="form-inline">
    <label for="pesquisa"></label>
      <input type="text" class="form-control" id="text" placeholder="Pesquisar Artista" ng-model="artistaBuscado">
     <button class="btn btn-default"  type="enviar" ng-click="buscarArtista(artistaBuscado)" data-toggle="modal" data-target="#product_view"><i class="fa fa-search">Buscar</button> 
  </form>
</div>

<form class="form principal">
  <div class="form-group">
      <label for="informações">Insira abaixo o nome do Artista que deseja</label>
    </div>
  </div>
</form>

<div>

<form class="form linha">
    <div class="coluna1">
      <div class="form-group">
        <label for="artista">Nome do Artista:</label>
        <input type="text" class="form-control" ng-model="artista.nome" id="text" placeholder="Digite o nome do Artista">
        <BR></BR>
        <label class="img" for="img">Link da imagem do artista:</label>
        <input type="text" ng-model="artista.imagem" class="form-control" id="text" placeholder="Insira o link da imagem">
        </div>
        <button type="enviar" ng-click="addArtista(artista)" ng-disabled="!artista.nome" class="btn">Enviar</button>
      </div>



      <div class="coluna2">
           <h2>Nome do Artista:</h2>
           <p ng-repeat="artistaAdicionado in artistas">
          <button class="btn" data-toggle="modal" data-target="#product_view2" ng-click="">{{artistaAdicionado.nome}}</button>
          </p>

      <div class="coluna2">
      <BR></BR>
      <BR></BR>
      <h2>Lista de Favoritos:</h2>
      <p ng-repeat="favorito in favoritos">
      <button class="btn" data-toggle="modal" data-target="#product_view1" ng-click="">{{favorito.nome}}</button>
  </p>
 </div>

</form>
</div>

 <!--
    Modal do Buscar Artista
    -->

  <div class="modal fade product_view" id="product_view">
      <div class="modal-dialog">
          <div class="modal-content colorModal">
              <div class="modal-body">
                <div ng-show="mostraBusca">
                    <h3 style="text-align: center">Artistas Buscados</h3>
                        <table class="table table-stried">
                          <tr>
                            <th>
                              <h4>Nome</h4>
                            </th>
                            <th>
                              <h4>Adicionar aos favoritos</h4>
                            </th>
                          </tr>
                          <tr ng-repeat="artista1 in buscados">
                            <td><button class="btn" ng-click="mostraArtista1(artista1)">{{artista1.nome}}</button></td>
                            <td><button class="btn" ng-click="addFavoritos(artista1)">Add</button></td>
                          </tr> 
                        </table>
                </div>
                <div ng-show="mostraArtista">
                    <div class="row">
                        <div class="col-lg-6">
                            <img style="width: 250px; height: 250px" ng-src="{{artistaFavorito.imagem}}">
                        </div>
                        <div class="col-lg-6">
                        <ul class="list-group">
                          <h4>Nome do Artista:</h4>
                          <l1 class="list-group-item list-group-item-danger"> {{artistaFavorito.nome}} </l1>
                          <h4>Última música:</h4>
                          <li class="list-group-item list-group-item-danger"> {{artistaFavorito.ultimaMusica}} </li>
                          <h4>Nota:</h4>
                           <li class="list-group-item list-group-item-danger">{{artistaFavorito.nota}}</l1>
                        </ul>
                        </div>
                    </div>
                </div>
              </div>
                <div class="modal-footer" ng-show="mostraArtista">  
              
                  <div class="row">
                       <div class="col-md-6">
                          <input style="width: 100px margin:left" type="nota" nome="nota" class="form-control" id="text" placeholder="Nota do artista" ng-model="nota">
                          <BR></BR>
                          <button type="button" class="botaoModal btn btn-blocked" ng-click="addNota(nota)"> Atribuir nota:</button>  
                       </div>
                       <div class="col-md-6">
                          <input style="width: 100px margin:left" type="ultimaMusica" nome="ultimaMusica" class=" form-control" id="text" placeholder="Última música" ng-model="artista.ultimaMusicaa">
                          <button type="button" style="margin-top: 45px" class="botaoModal btn btn-blocked" ng-click="ultimaMusica(ultimaMusicaa)"> Última música:</button>  
                       </div>
                      </div>        
                  </div>
            </div>   
      </div>
  </div>

  <!--
    Modal do Favorito
    -->

<div class="modal fade product_view" id="product_view1">
      <div class="modal-dialog">
          <div class="modal-content colorModal">
              <div class="modal-body">
                <div ng-show="addFavoritos">
                    <h3 style="text-align: center">Informações Sobre o Artista</h3>
                        <table class="table table-stried">
                          <tr>
                            <th>
                              <h4>Nome</h4>
                            </th>
                            <th>
                              <h4>Remover aos favoritos</h4>
                            </th>
                          </tr>
                          <tr ng-repeat="artista1 in favoritos">
                            <td><button class="btn" ng-click="mostraArtista1(artista1)">{{artista1.nome}}</button></td>
                            <td><button class="btn" ng-click="removeFavoritos(artista1)">Remove</button></td>
                          </tr> 
                        </table>
                </div>
                <div ng-show="mostraArtista">
                    <div class="row">
                        <div class="col-lg-6">
                            <img style="width: 250px; height: 250px" ng-src="{{artistaFavorito.imagem}}">
                        </div>
                        <div class="col-lg-6">
                        <ul class="list-group">
                          <h4>Nome do Artista:</h4>
                          <l1 class="list-group-item list-group-item-danger"> {{favorito.nome}} </l1>
                          <h4>Lista de Albuns:</h4>
                          <li class="list-group-item list-group-item-danger"> {{favorito.albuns}} </li>
                        </ul>
                        </div>
                    </div>
                </div>
              </div>
            </div>   
      </div>
  </div>

  <!-- Modal da lista de Artistas
    -->

    <div class="modal fade product_view" id="product_view2">
      <div class="modal-dialog">
          <div class="modal-content colorModal">
              <div class="modal-body">
                <div ng-show="mostraArtista">
                    <div class="row">
                        <div class="col-lg-6">
                            <img style="width: 250px; height: 250px" ng-src="{{artistaFavorito.imagem}}">
                        </div>
                        <div class="col-lg-6">
                        <ul class="list-group">
                          <h4>Nome do Artista:</h4>
                          <l1 class="list-group-item list-group-item-danger"> {{artistaFavorito.nome}} </l1>
                          <h4>Lista de Albuns:</h4>
                          <li class="list-group-item list-group-item-danger"> {{favorito.albuns}} </li>
                        </div>
                    </div>
                </div>
              </div>
            </div>   
      </div>
  </div>